<div class="overflow-x-auto">
  <table class="table table-zebra">
    <thead>
      <tr>
        <th>Title</th>
        <th>ISBN</th>
        <th>Pages</th>
        <th>Categories</th>
        <th>Published</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      @for (item of books; track item._id) {
      <tr>
        <td>{{item.title}}</td>
        <td>{{item.isbn}}</td>
        <td>{{item.pages}}</td>
        <td>{{item.categories}}</td>
        <td>{{item.published}}</td>
        <td><button class="btn btn-primary"><a routerLink="/book/{{item._id}}">View Details</a></button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>