<div class="navbar bg-base-300">
    <div class="flex-1">
      <a routerLink="home" class="btn btn-ghost text-xl">SocialBook!</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a routerLink="/books">Books</a></li>
        <li><a routerLink="/authors">Authors</a></li>
        @if (hasLogin) {
          <li>
            <details class="z-20">
              <summary>
                {{username}}
              </summary>
              <ul class="p-1 bg-base-100 rounded-t-none">
                <li (click)="logOut()"><a routerLink="#">Logout</a></li>
                <li (click)="deleteAccount()"><a class="text-red-500">Delete Account</a></li>
                <li><a routerLink="/change_password">Change password</a></li>
                <li><a routerLink="/user/edit">Edit account</a></li>
                <li><a routerLink="/fav_authors">Fav Authors</a></li>
                <li><a routerLink="/fav_books">Fav Books</a></li>
              </ul>
            </details>
          </li>
        }
        @else {
            <li><a routerLink="/signup">Register</a></li>
            <li><a routerLink="/signin">Login</a></li>
        }
      </ul>
    </div>
</div>