<div class="card w-96 bg-base-100 shadow-xl">
    <figure><img src={{book.cover}} /></figure>
    <div class="card-body">
        <h2 class="card-title">{{book.title}}</h2>
        <p>{{book.description}}</p>
        <p class="font-semibold">ISBN: {{book.isbn}}</p>
        <p class="font-semibold">Number of pages: {{book.pages}}</p>
        <p class="font-semibold">Category: {{book.categories}}</p>
        <p class="font-semibold">Published: {{book.published}}</p>
        <div class="card-actions justify-end">
            <button class="btn btn-active"><a routerLink="/books">Back to books</a></button>
            <button class="btn btn-secondary"><a routerLink="/books/edit/{{book._id}}">Edit</a> </button>
        </div>
    </div>
</div>