<div class="overflow-x-auto">
    <h1
    class="text-5xl font-extrabold dark:text-white">
        Welcome to SocialBook!
    </h1>
    <h6 class="text-lg font-bold dark:text-white">Created by: Sebastian Gonera</h6>
    <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400">
        Aliquam erat volutpat. Donec porta erat eu quam consectetur laoreet. In vel viverra justo, quis finibus lacus.
        Etiam non libero eget ipsum ullamcorper tincidunt nec sit amet turpis. Curabitur sodales metus non quam sagittis
        sagittis. Nam venenatis interdum pellentesque. Vestibulum volutpat mauris ac orci euismod semper.
    </p>
    <p class="text-gray-500 dark:text-gray-400">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus quis enim nec placerat. Maecenas
        commodo sed odio eget finibus. Pellentesque et orci in lectus viverra ultrices nec ac nulla. Nullam ac sagittis
        arcu, non vehicula erat. Phasellus pulvinar tristique nibh, vitae dictum arcu volutpat vel. Morbi vulputate
        rutrum tempor. Pellentesque nisl massa, dapibus condimentum sem eget, fringilla scelerisque tellus. Nullam
        auctor faucibus dui in mattis. Aenean efficitur luctus viverra. Fusce ac enim varius, pharetra velit eget,
        tempus tellus. Sed augue magna, auctor in sollicitudin elementum, posuere quis ipsum. Maecenas finibus, justo in
        faucibus tincidunt, tellus nunc tincidunt nisl, sed maximus lacus sapien in libero. Fusce lectus velit, volutpat
        eu tincidunt in, bibendum at dolor. Aenean vitae ipsum mattis, aliquam nulla sit amet, fermentum lectus. Nunc
        vel ullamcorper velit. Sed vitae diam eros.
    </p>
    <p class="text-gray-500 dark:text-gray-400">
        Sed vel pellentesque velit. Ut porta sem libero, vehicula accumsan lectus consectetur ac. Vestibulum cursus nisi
        vel sapien fermentum mollis eu ut nunc. Praesent et dui in sem condimentum venenatis. In sed rutrum neque.
        Pellentesque efficitur rhoncus velit, a vehicula eros pellentesque blandit. Etiam et diam ac elit varius
        blandit. Aliquam laoreet velit quam. Morbi pretium bibendum convallis. Donec vehicula felis et tristique
        egestas. Mauris congue pharetra eleifend. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Cras in nisl vel sem tincidunt interdum. Aliquam malesuada, ligula eu varius aliquam,
        dui ligula fermentum metus, a tristique purus metus sed eros.
    </p>

    <p class="text-gray-500 dark:text-gray-400">
        Praesent mattis magna nec tellus tincidunt, ut fermentum ante condimentum. Aliquam porta ac tellus sit amet
        fermentum. Aenean luctus sodales eros sed pellentesque. Nullam eget dui est. Mauris eu sapien dui. Vivamus
        commodo placerat lacus. Fusce sit amet leo ligula. Cras sapien lorem, sollicitudin at leo sit amet, rutrum
        tempor ligula. Integer molestie est et dolor gravida euismod. Quisque pulvinar vel nibh ac feugiat. Interdum et
        malesuada fames ac ante ipsum primis in faucibus. Cras dictum, enim ut malesuada laoreet, lorem risus lacinia
        mi, at lobortis quam orci vitae ligula. Pellentesque et blandit justo.
    </p>
    <p class="text-gray-500 dark:text-gray-400">
        Aliquam sit amet sapien arcu. Nam quam massa, accumsan sed porttitor sed, mollis quis augue. Praesent a ligula
        id nunc efficitur aliquet. Phasellus quis nibh pulvinar, iaculis purus vitae, molestie lectus. In ullamcorper
        nunc at sem pulvinar dictum. Praesent fringilla felis non dui auctor congue. Nunc congue maximus mauris, et
        tincidunt ante auctor id.
    </p>

</div>